<div class="navbar navbar-dark bg-dark bg-gradient">
    <nav class="container-fluid d-flex flex-row justify-content-center align-items-center">
        <div class="nav-item p-3">
            <NavLink class="navbar-brand fs-4 text-white text-decoration-none" href="" Match="NavLinkMatch.All">
                Kahoot 
            </NavLink>
        </div>

        <div class="nav-item p-3">
            <NavLink class="d-flex flex-row align-items-center fs-6 text-white text-decoration-none" href="browse">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Browse
            </NavLink>
        </div>
        
        <div class="d-flex flex-row nav-item p-2 ms-auto rounded-2 bg-white">
            <NavLink class="px-2 fs-6 text-black text-decoration-none" href="login">
                Sign-Up
            </NavLink>
        </div>
    </nav>
</div>